header {
    position: relative;
    display: flex;
    justify-content: space-between;;
    height: 40px;
    box-shadow: 0 1px 1px 0 rgba(10, 54, 69, 0.15);
    background-color: #0a3645;
    z-index: 100;
}

.header-nav, .dropdown-nav {
    height: 100%;
    margin: 0;
    padding: 0;

    .nav-link {
        color: #90a3aa;
        background-color: #0a3645;
        font-size: 10px;
        width: 100%;
        text-align: center;
        line-height: 10px;
        padding: 15px 0;

        &.active {
            background-color: #4a636c;
            color: #ffffff;
        }
    }

    li {
        align-self: center;
        list-style: none;
        width: 95.2px;
        height: 40px;
    }
}

.header-nav {
    display: none;

    @media all and (min-width: 645px) {
        display: flex;
    }
}

.dropdown-nav {
    display: block;

    @media all and (min-width: 645px) {
        display: none;
    }
}

.btn-nav {
    background: none;
    border: none;
    display: block;
    height: 40px;

    &:focus {
        outline: none;
    }

    img {
        width: 24.1px;
    }
    @media all and (min-width: 645px) {
        display: none;
    }
}

.logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5px;
    width: 25px;
}

.user {
    display: none;
    font-family: Helvetica;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    align-self: center;
    margin: 0;
    border: none;
    background: none;
    margin-right: 20px;

    &:focus {
        outline: none;
    }

    @media all and (min-width: 445px) {
        display: block;
    }
}

.caret {
    width: 9px;
    margin-left: 4px;
    cursor: pointer;
}