<header>
  <nav>
    <button (click)="toggleDropdown()" class="btn-nav"><img src="../../assets/union-739.svg" alt="Nav"></button>

    <ul (click)="toggleDropdown()" class="dropdown-nav" *ngIf="showDropdown">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-1']">Nav 1</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-2']">Nav 2</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-3']">Nav 3</a></li>
    </ul>

    <ul class="header-nav">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-1']">Nav 1</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-2']">Nav 2</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/nav-3']">Nav 3</a></li>
    </ul>
  </nav>

  <img class="logo" src="../../assets/logo.svg" alt="Logo">
  <button class="user">Welcome Christy<img class="caret" src="../../assets/path-5031.svg" alt="User dropdown"></button>

</header>