<table class="table table-striped table-borderless">
  <thead class="table-heading">
    <tr class="table-top">
      <th colspan="2">Section</th>
      <th colspan="2" class='text-right'>
        <button class="btn-text font-10" (click)="addNewCategory()">+ New Category</button>
      </th>
    </tr>
    <tr class="table-row heading-row">
      <th></th>
      <th scope="col">Category</th>
      <th scope="col">Seq.</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row" draggable="true" (dragover)="onDrag($event)" (drop)="onDrop($event)" (mousedown)="onMouseDown($event, i)" *ngFor="let table of tableData, let i = index">
      <th scope="row" class="hamburger-th w-5">
        <img class="grab hamburger" draggable="false" src="../../assets/group-15551.svg" alt="Move Category">
      </th>
      <td class="w-25 category">{{table.category}}</td>
      <td class="square-td w-20">
        <div class="green-square">
          <span class="num">{{i + 1}}</span>
        </div>
      </td>
      <td class="text-right delete-td w-50">
        <button (click)="removeItem(i)"type="button" class="delete" aria-label="Delete">
          <img src="../../assets/group-15577.svg" alt="Delete Button">
        </button>
      </td>
    </tr>
    <tr [formGroup]="categoryInput" (ngSubmit)="onSave()" *ngIf="showInput">
      <th scope="row" class="hamburger-th w-5">
        <img class="hamburger" draggable="false" src="../../assets/group-15551.svg" alt="">
      </th>
      <td class="input-td w-25">
          <input type="text" (keydown)="keyboardSave($event)" placeholder="Add Category" formControlName="category" />
      </td>
      <td colspan="2" class='text-right w-70'>
          <button (click)="onSave()"type="button" class="btn-text font-12" aria-label="Save">
              <span aria-hidden="true">Save</span>
          </button>
      </td>
    </tr>
  </tbody>
</table>