.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.btn-text {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 5.6px;
    color: #06b4de;
    transition: color .15s;
    white-space: nowrap;

    &:hover {
        color: #bfcfd5
    }

    &:focus {
        outline: none;
      }
}

.table {
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(10, 54, 69, 0.16);
    margin: 0 auto;

    @media all and (min-width: 768px) {
        width: 80%;
    }

    @media all and (min-width: 1100px) {
        width: 60%;
    }
}

.table-heading {
    transform: scale(1,1);
    box-shadow: 0 1px 3px 0 rgba(10, 54, 69, 0.16);
    background: #ffffff;
}

.table-top th {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #0a3645;
}

.heading-row {

    th {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
        color: #7a8a90;
    }
}

.grab {
    cursor: grab;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white;
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #f0f2f5;
 }

th, td {
  line-height: 23px;  
}

.hamburger-th {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.hamburger {
    height: 10px;
}

.category {
    color: #0a3645;
    font-size: 12px;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media all and (max-width: 700px) {
        max-width: 300px;
    }

    @media all and (max-width: 500px) {
        max-width: 250px;
    }

    @media all and (max-width: 450px) {
        max-width: 133px;
    }
    
}

tbody tr:hover{
    background: #F0F8FD;
    transform: scale(1,1);
    box-shadow: 0 1px 3px 0 rgba(10, 54, 69, 0.16);
  }

.square-td {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
}

.green-square {
    display: flex;
    color: white;
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background-color: #98cb65;
    justify-content: center;
}

.num {
    font-size: 12px;
    color: white;
    align-self: center;
    width: 12px;
    text-align: center;
}

.input-td {
    padding-top: 5.5px;
    padding-bottom: 5.5px;

    input {
        width: 100%;
        min-width: 100px;
        height: 36px;
        font-size: 12px;
        padding-left: 10px;
        border: solid 1px #dbe1e5;
        background-color: #f9fafc;
    }
}

.save-button {
    font-size: 12px;
    font-weight: bold;
    line-height: 4.67px;
    text-align: left;
    color: #06b4de;
}

.delete-td {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
}

.delete {
    background: none;
    border: none;
    height: 27px;
    width: 27px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    transition: all .15s;

    &:hover {
        transform: scale(1.1,1.1);
    }

    img {
        height: 27px;
        width: 27px;
    }
}